@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-image: url(/image/background.jpeg);
  background-size: cover;
}

.book {
  color: rgb(224, 28, 28);
}

h2 {
  margin-top: 30px;
}

form label {
  display: block;
}

.total-amount {
  background-color: rgb(226, 228, 231);
}

#borrowList {
  list-style-type: none;
  max-height: 260px;
  overflow-y: scroll;
}

#borrowList li button {
  margin-left: 5px;
}

#borrowList li span {
  color: white;
  flex-wrap: wrap;
  margin-bottom: -0.7rem;
  padding: 4px;
  display: inline-block;
  width: 13rem;
  background-color: rgb(65, 63, 63);
  white-space: nowrap;
  overflow-x: scroll;
}

.hidden {
  display: none;
}

@media (min-width: 1400px) {
  .add {
    margin-left: -9.2rem;
  }
}
